/* css styles */

<style>
  body, h1, h2, h3, h4 {
    font-family: "Calibri", Calibri;
  }

body {
  color: #333333;
}

.table {

    width: 100%;

}

pre {
  font-size: 11px;
}
</style>



a, a:hover {
  color: navy;
}